@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  margin: 20px;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

img {
  width: 100%;
}

.column {
  flex-basis: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.column1 {
  /* background-color: brown; */
  /* flex-basis: 10%; */
}

.column2 {
  /* background-color: rgb(239, 243, 17); */
  /* flex-basis: 20%; */
}

.column3 {
  /* background-color: rgb(94, 47, 206); */
  /* flex-basis: 30%; */
}

.column4 {
  /* background-color: rgb(42, 165, 48); */
  /* flex-basis: 40%; */
}
