<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | Blog</title>
    <style>
        .blog-layout{
            box-shadow: 0px 1px 2px grey;
            padding: 10px;
            margin: 20px 0;
        }
        a{
            text-decoration: none;
        }
        form{
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div style="width:80%; margin: 0 auto;">
        <h1>Edit Blogs | <a href="/blogs">Home</a> <a href="/blogs/new">New</a> </h1>
        <hr>
            <div class="blog-layout">
                <form action="/blogs/<%=blog.id%>?_method=PATCH" method="POST">
                    <input type="text" name="title" cols="60" value="<%=blog.dataValues.title%>" />
                    <br>
                    <br>
                    <textarea name="body" rows="20" cols="60"><%=blog.body%></textarea>
                    <br>
                    <br>
                    <div>
                    <button>Update</button>
                </form>
                </div>          
            </div>
    </div>
    
        
    
</body>
</html>