<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App | Node-Mysql</title>
</head>
<body>
    <h1>New Blog</h1>
    <form action="/blogs" method="POST">
        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <br><br>
            <label for="body">Body Content</label>
            <br>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
            <br><br>
            <button>Submit</button>
        </fieldset>
    </form>
</body>
</html>