<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<div class="container">
  <%- include("../partials/flash") %>
    <section class="text-center my-3 ">
        <h2 class="">Login</h2>
    </section>
    <form action="/login" method="POST" class="w-50 m-auto mt-4 needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"  name="password" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>
<%- include("../partials/footer") %>