<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<div class="container p-5 text-center">
    <%- include("./partials/flash") %>
    <h1>Error Page</h1>
</div>


<%- include("./partials/footer") %>