@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.message {
  text-align: center;
  background-color: rgb(85, 83, 83);
  color: white;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

nav {
  background-color: #333;
}

.navbar {
  display: flex;
  /* background-color: #333; */
  margin: 0 auto;
  max-width: 1200px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

section.content {
  background-color: #f1f1f1;
  width: 100%;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: #ffffff;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}
